/*.tk-futura-pt*/

#container
{
	width: 400px;
	margin-right: auto;
	margin-left: auto;
	background-color: white;
	color: black;
	padding: 20px;
	font-size: 20px;
	line-height: 20px;
	text-align: left;
	text-transform: inherit;
	letter-spacing: 0px;
	/*font-weight: 400;*/
	-webkit-font-smoothing: antialiased;

	        transform:rotate( 0deg );
	     -o-transform:rotate( 0deg ); /* Opera */
	    -ms-transform:rotate( 0deg ); /* IE 9 */
	   -moz-transform:rotate( 0deg ); /* Firefox */
	-webkit-transform:rotate( 0deg ); /* Safari and Chrome */

}

.fallback
{
	font-family: sans-serif;
}

#container p
{
	padding-bottom: 20px;
}
.tk-futura-pt-book
{
	font-family: "futura-pt",sans-serif;
	font-style: normal;
	font-weight: 400;
}
.tk-futura-pt-book-italic
{
	font-family: "futura-pt",sans-serif;
	font-style: italic;
	font-weight: 400;
}
.tk-futura-pt-bold
{
	font-family: "futura-pt",sans-serif;
	font-style: normal;
	font-weight: 700;
}
.tk-futura-pt-bold-italic
{
	font-family: "futura-pt",sans-serif;
	font-style: italic;
	font-weight: 700;
}
.tk-futura-pt-extra-bold
{
	font-family: "futura-pt",sans-serif;
	font-style: normal;
	font-weight: 800;
}
.tk-futura-pt-extra-bold-italic
{
	font-family: "futura-pt",sans-serif;
	font-style: italic;
	font-weight: 800;
}